<app-nav-bar></app-nav-bar>
<form class="container">

  <div class="row justify-content-md-center">
    <div class="col-4 col-lg">
      <h3>Clientes</h3>
    </div>
    <div class="col-6 col-lg-11"></div>
    <div class="col col-lg mb-1  ">
      <button [routerLink]="['/registroUsuario']" class="btn btn-primary me-md-2" type="button">
        <i class="fas fa-plus"></i>
      </button>
    </div>
  </div>

    <table class="table">
        <thead>
          <tr>
            <th scope="col">#</th>
            <th scope="col">Identidificacion</th>
            <th scope="col">Numero telefononico</th>
            <th scope="col">Primer nombre</th>
            <th scope="col">Primer apellido</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let interesado of interesados">
            <th scope="row">1</th>
            <td>{{interesado.primerNombre}}</td>
            <td>{{interesado.numeroTelefonico}}</td>
            <td>{{interesado.primerNombre}}</td>
            <td>{{interesado.primerApellido}}</td>
          </tr>
        </tbody>
      </table>
</form>